<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.roy.vo"/>
    <context:annotation-config />

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:system.properties" />
    </bean>

    <bean id="customEditorConfigurer"  class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.roy.propertyeditor.MyCustomDateEditor"/>
            </map>
        </property>
    </bean>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.roy.propertyeditor.UserAToUserConverter">
                    <property name="dateFormatStr" value="yyyy-MM-dd hh:mm:ss"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="userA" class="com.roy.vo.targetVO.UserA">
        <property name="ageA" value="12"/>
        <property name="birthDateA" value="1989-06-04 06:03:04"/>
        <property name="nameA" value="jun,guo"/>
    </bean>

    <bean class="com.roy.vo.ClassC">
        <property name="user" ref="userA"/>
    </bean>

    <!-- test ciculat reference -->
    <!--<bean id="ciculatA" class="com.roy.vo.circular.CiculatA">
        <constructor-arg ref="ciculatB"/>
    </bean>

    <bean id="ciculatB" class="com.roy.vo.circular.CiculatB">
        <constructor-arg ref="ciculatA"/>
    </bean>-->

</beans>